<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.sdc.escape.dao.RoomAttributeDao">
    <resultMap type="roomAttribute" id="RoomAttributeMap">
       <id column="r_no" property="rno"></id>
        <result column="attr_reasoning" property="reasoning"></result>
        <result column="attr_observation" property="observation"></result>
        <result column="attr_horror" property="horror"></result>
        <result column="attr_activity" property="activity"></result>
    </resultMap>

    <select id="findByNo" resultMap="RoomAttributeMap" parameterType="int">
   		SELECT
   			CASE
   				WHEN  attr_reasoning=1 THEN '★☆☆☆☆'
   				WHEN  attr_reasoning=2 THEN '★★☆☆☆'
   				WHEN  attr_reasoning=3 THEN '★★★☆☆'
   				WHEN  attr_reasoning=4 THEN '★★★★☆'
   				WHEN  attr_reasoning=5 THEN '★★★★★'
   				ELSE '???'
   			END AS attr_reasoning
   			, CASE 
   				WHEN  attr_observation=1 THEN '★☆☆☆☆'
   				WHEN  attr_observation=2 THEN '★★☆☆☆'
   				WHEN  attr_observation=3 THEN '★★★☆☆'
   				WHEN  attr_observation=4 THEN '★★★★☆'
   				WHEN  attr_observation=5 THEN '★★★★★'
   				ELSE '???'
   			END AS attr_observation
   			, CASE 
   				WHEN  attr_horror=1 THEN '★☆☆☆☆'
   				WHEN  attr_horror=2 THEN '★★☆☆☆'
   				WHEN  attr_horror=3 THEN '★★★☆☆'
   				WHEN  attr_horror=4 THEN '★★★★☆'
   				WHEN  attr_horror=5 THEN '★★★★★'
   				ELSE '???'
   			END AS attr_horror
   				, CASE 
   				WHEN  attr_activity=1 THEN '★☆☆☆☆'
   				WHEN  attr_activity=2 THEN '★★☆☆☆'
   				WHEN  attr_activity=3 THEN '★★★☆☆'
   				WHEN  attr_activity=4 THEN '★★★★☆'
   				WHEN  attr_activity=5 THEN '★★★★★'
   				ELSE '???'
   			END AS attr_activity
   		FROM escape_room_attr
   		WHERE r_no = #{no}
    </select>
    
    <select id="findByNoWithoutStar" resultMap="RoomAttributeMap" parameterType="int">
   		SELECT
   				attr_reasoning
   			,	attr_observation
   			, 	attr_horror
   			, 	attr_activity
   		FROM escape_room_attr
   		WHERE r_no = #{no}
    </select>
    
    <insert id="add" parameterType="roomAttribute">
    	INSERT INTO escape_room_attr
    	    (r_no,attr_reasoning, attr_observation, attr_horror, attr_activity)
    	VALUES
    		(#{rno}, #{reasoning}, #{observation}, #{horror}, #{activity})
    </insert>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM escape_room_attr
    	WHERE r_no = #{rno}
    </delete>
    
    <update id="update" parameterType="roomAttribute">
    	UPDATE escape_room_attr
    	SET
    			attr_reasoning = #{reasoning}
    		, 	attr_observation = #{observation}
	    	,  	attr_horror = #{horror}
    		, 	attr_activity = #{activity}
    	WHERE r_no = #{rno}
    </update>
  </mapper>